body {
    margin-left: 250px;
    margin-right: 250px;
    font-family: serif;
    box-shadow: 5px 5px 5px gray;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.title-color,
h6 {
    color: rgb(42, 104, 197);
    font-weight: bold;
}

.address-content {
    font-size: 15px;
}

.details {
    display: grid;
    grid-template-columns: 4fr 8fr;
    box-shadow: 5px 5px 5px gray;
}

p,
ul {
    font-size: 15px;
    font-family: serif;
}

.education-head {
    color: black;
}

.expertise {
    background-color: lightgray;
    padding: 20px;
}

.tech-expertice-card {
    background-color: white;

}

.fluent-card {
    background-color: white;
}

.bi-star-fill,
.bi-star-half {
    color: rgb(42, 104, 197);
    margin-left: 3px;
}


@media  (max-width: 400px) and (max-width: 700px) {
    .body {
        margin-left: 0px;
        margin-right: 0px;
        font-family: serif;
        box-shadow: 0px;
        border: none;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1px;
        color: red;
        
    }
   
  }